
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  background-image: url(https://giffiles.alphacoders.com/211/211818.gif);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  transition: background-color .3s ease;
  justify-content: center;
  align-items: center;
 
}

.todo-app {
  background: #f9f6f635;
  width: 80%;
  max-width: 600px;
  margin-top: 30px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #0000001a;
  transition: transform .3s ease,box-shadow .3s ease;
}

.dashboard {
  background-color: rgba(117, 136, 143, 0.7);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 8px ;
}

.form-add-todo, .todo-edit-form {
  background-color: rgba(66, 65, 61, 0.8);
  padding: 8px 16px;
  display: flex;
  gap: 2px;
}

.form-add-todo > input, .todo-edit-form > [type=text]{
  flex-grow : 8;
  font-size: large;
  padding: 4px 8px;
  
  
}

.form-add-todo > button {
  flex-grow : 2;
  color: green;
}

.todo-container {
  /* border: 1px dashed lime; */
  padding: 8px 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}


.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

/* TodoItem.css */

.todo-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-done {
  text-decoration: line-through;
}

.btn-group {
  
  display: flex;
}

.edit-btn,
.delete-btn {
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}


.button-one{
  
  background-color: #8aab8b;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}
.button-two{
  
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}





